<footer>
    <div class="row">
        <div class="large-1 medium-1 text-center columns">
            <img src="~/Content/img/imago-footer.png" alt="">
        </div>
        <div class="large-7 medium-7 columns">
            <div id="links-footer">
                <a href="#">Plantas en la República Mexicana</a>
                <a href="#">Aviso de Privacidad</a>
                <a href="#">Mapa del sitio</a>
                <a href="mailto:contacto@maltacleyton.com">contacto@maltacleyton.com</a>
            </div>
        </div>
        <div class="large-2 columns text-center">
            <p>©MaltaCleyton 2017</p>
        </div>
        <div class="large-2 columns">
            <div class="neovia">
                <a href="https://www.neovia-group.com/" target="_blank"><img src="~/Content/img/neovia.svg" alt="Neovia"></a>
            </div>
        </div>
    </div>
</footer>

<div class="reveal small" id="buscador" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="row">
        <div class="large-12 columns">
            <h6>Buscador</h6>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="input-group">
                <input class="input-group-field" type="url">
                <a class="input-group-button button"><i class="fa fa-search"></i> Buscar</a>
            </div>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@Scripts.Render("~/Content/js/jquery.min.js")
@Scripts.Render("~/Content/js/what-input.min.js")
@Scripts.Render("~/Content/js/foundation.min.js")
@Scripts.Render("~/Content/js/min/app-min.js")
<!-- Scripts adicionales -->
@Scripts.Render("~/Content/js/jquery.backstretch.min.js")
@Scripts.Render("~/Content/js/parallax.min.js")


<!-- softScroll -->
@Scripts.Render("~/Content/js/smooth-scroll.js")
@Scripts.Render("~/Content/js/classie.js")
@Scripts.Render("~/Content/js/nav.js")

@Scripts.Render("~/Content/js/scrollreveal.min.js")
@Scripts.Render("~/Content/js/anim.js")

@Scripts.Render("~/Content/js/circle-progress.min.js")

@Scripts.Render("~/Content/js/malta.js")